:root {
    --width: 100px;
    --height: 70px;
    --border-radius: 15px;
}

body{
    background-color: #F87C63;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

header{
    height: 20vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

h1{
    font-size: 50px;
}

.buttons {
    display: flex;
    gap: 30px;
}

button {
    color: white;
    font-weight: bolder;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    border: 0;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.yes {
    background-color: #438E64;
}

.no {
    background-color: #BD4646;
    transition: left 0.2s ease, top 0.2s ease;
}

.yes:hover {
    transform: scale(1.1);
}

.congrats{
    display: flex;
    align-items: center;
    justify-content: center;
}